<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592252446295-df5fvad1782ero3l3pik0ob8s6ja4rci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592252446295-df5fvad1782ero3l3pik0ob8s6ja4rci</string>
	<key>API_KEY</key>
	<string>AIzaSyDGSsngiQS8oyb6AK2zU3_czotO_ZAtzCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>592252446295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airsoft.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>airsoft-14d94</string>
	<key>STORAGE_BUCKET</key>
	<string>airsoft-14d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592252446295:ios:c619132be036c384532512</string>
</dict>
</plist>